#card1{
    background-image: linear-gradient(to right,#63C4AC,#60DD9F);
}

#card2{
    background-image: linear-gradient( to right,#EF787C,#F8BA7F);
}

#card3{
    background-image: linear-gradient(to right,#08A5DA,#31C9DE);
}
